*.class

*.iml

# Package Files #
*.jar
!/libs/*
*.war
*.ear

*/.DS_Store

.DS_Store

.idea
.directory

target
target/*
classes/*

.settings
.settings/*

.project

.classpath

Wrapper/log
Wrapper/config.json
